/* Hide scrollbar */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.navbar h4 {
    color: #4F4F4F;
    margin-left: 5%;
}

.btn {        
    font-size: 18px;
	background: #0D8240;
	border-color: #009933;
}

.btn:hover {
	background-color: #009933;
	border-color: #0D8240;
}

.ml-auto {
    text-align: right;
    margin-right: 20px;
    font-size: 18px;
}

table {
    border-spacing: 0;
    font-size: 15px;
}

input {
    width: 100%;
}

.table {
    border: 1px solid #D4D8D4;
    border-collapse: collapse;
    padding: 5px;
}

td {
    border: 1px solid #D4D8D4;
    border-collapse: collapse;
    padding: 5px;
}

th {
    border: 1px solid #D4D8D4;
    border-collapse: collapse;
    padding: 5px;
}


.collapsible {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.active,
.collapsible:hover {
    background-color: #D4D8D4;

}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    height: 300px;
}



.tab {
    overflow: hidden;
    background-color: #f5f3f3;
    padding-top: 10px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #f5f3f3;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px;
    transition: 0.1s;
    font-size: 17px;
    object-fit: cover;
    width: 33%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: white;
    border-radius: 10px 10px 0 0;
    color: #009933;
    font-weight: bold;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    border-radius: 10px 10px 0 0;
    color: #009933;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

@media screen and (min-width: 480px) and (max-width: 1024) {
    .ml-auto {
        display: none;
    }

    nav h4 {
        font-size: 20px;
    }

    nav p {
        color: red;
    }
}