.row {
    margin: 15px;
}

.logo-link {
    width:15%; 
}

nav img {
    width: 100%;
}

.user-welcome {
    position: fixed;
    margin: auto;
    right: 5%;
}

@media screen and (min-width: 480px) and (max-width: 1024px) {

}